.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar { /* https://blog.hubspot.com/website/css-sidebar */
  height: 100%;
  width: 12%;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: #e5c348;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 0px;
  touch-action: none;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-family: sans-serif;
  font-size: 100px;
  border-style: solid;
  position: relative;
}

.options {
  display: flex;
  flex-direction: column;
}